_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

.DS_Store
*.DS_Store

*.ipynb
summary.txt
summary_with_headers.txt

.venv/
venv/

Körperanalyse/
sources/

_posts/2025-10-27-inheritibility.md
_posts/2025-11-29-intelligence-direction.md